@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

section{
  padding:3rem 9%;
}

@media (max-width:991px){
  html{
    font-size:55%;
  }

  section{
    padding:3rem 2rem;
  }
}

@media (max-width:450px){

  html{
    font-size:50%;
  }

}
/* Base styles for .container-one */
.container-one {
  display: flex;
  flex-direction: column;
  height: 110vh;
  padding: 2em;
  margin-top: 0.1em;
  text-align: left; /* Ensures text is aligned to the left */
}



.c-h1 {
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 20px;
  font-size: 2.5em;
}

.c-h2 {
  margin-left: 20px;
  padding-left: 5px;
  margin-right: 20px;
  font-size: 1.5em;
  border-width: 4px;
}

/* Hero section styles */
.bg-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-top: 30px;
  padding: 33px;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}


.flex, .flex__col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__col {
  flex-direction: column;
}


.intro {
  position: relative;
  width: calc(100% - 80px);
  min-height: 100vh;
  gap: 80px;
}

.intro h1 {
  color: white;
  width: 50%;
  font-weight: 700;
  font-size: 4.8vw;
  line-height: 100%;
  text-transform: uppercase;
}

.intro img {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  width: 33%;
  height: auto;
  aspect-ratio: 9/14;
  opacity: 0.6;
  object-fit: cover;
  transform: translateY(-50%);
}

.intro p {
  width: 50%;
  font-size: 1.4vw;
  color: #fef6db;
}

.intro p a {
  color: #fef6db;
}


                                

@media (min-width: 1900px){
  .list__item__title, .list__item__titleOutline {
    font-size: 450px;
  }

  .list__item img, .intro__img {
    width: auto;
    height: 80%;
  }
}




@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */

  .container-one {
    flex-direction: column-reverse; /* Reverse order on mobile */
  }

  .c-h1 {
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    font-size: 4em;
  }

  .c-h2 {
    margin-left: 40px;
    padding-left: 10px;
    margin-right: 40px;
    font-size: 2em;
    border-width: 6px;
  }

  /* Add more styles for mobile layout as needed */
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Styles for tablets */

  .c-h1 {
    margin-left: 60px;
    margin-top: 200px;
    margin-right: 60px;
    font-size: 5em;
  }

  .c-h2 {
    margin-left: 60px;
    padding-left: 10px;
    margin-right: 60px;
    font-size: 2.5em;
    border-width: 7px;
  }

  /* Add more styles for tablet layout as needed */
}

/* Targetting large screens (optional) */
@media only screen and (min-width: 992px) {
  .container-one {
    text-align: center;  /* Center the content within the hero section */
  }
  .c-h1 {
    margin-left: 90px;
    margin-top: 250px;
    margin-right: auto;
    font-size: 6em;
  }

  .c-h2 {
    margin-left: 90px;
    padding-left: 10px;
    margin-right: 900px;
    font-size: 3em;
    border-width: 8px;
  }
}

/* Media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}


.social-icons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.social-icons a {
  display: block;
  margin-bottom: 10px;
}

.social-icons img {
  width: 30px; /* Adjust the size of the social icons */
  height: auto;
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1687 {
    padding: var(--sectionPadding);
    color: #fef6db;
  }
  #stats-1687 .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* 48px - 100px */
    gap: clamp(3rem, 7vw, 6.25rem);
  }
  #stats-1687 .cs-wrapper {
    width: 100%;
    /* 48px - 64px */
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1687 .cs-content {
    /* set text align to left if content needs to be left aligned */
    color:#fef6db;
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #stats-1687 .cs-text {
    margin-bottom: 1rem;
  }
  #stats-1687 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #stats-1687 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #stats-1687 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fef6db;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #stats-1687 .cs-button-solid:hover:before {
    width: 100%;
  }
  #stats-1687 .cs-picture {
    width: 100%;
    max-width: 39.375rem;
    height: auto;
    /* 400px - 600px */
    min-height: clamp(25rem, 68vw, 37.5rem);
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
    align-self: stretch;
  }
  #stats-1687 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #stats-1687 .cs-card-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 40px */
    gap: clamp(1rem, 3vw, 2.5rem);
  }
  #stats-1687 .cs-item {
    width: 100%;
    /* 20px - 40px */
    padding: clamp(1.25rem, 3vw, 2.5rem);
    background-color: #f7f7f7;
    display: flex;
    /* 24px - 80px */
    flex-direction: column;
    gap: clamp(1.5rem, 6vw, 5rem);
    position: relative;
    overflow: hidden;
  }
  #stats-1687 .cs-h3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    z-index: 1;
  }
  #stats-1687 .cs-number {
    /* 49px - 61px */
    font-size: clamp(3.0625rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--headerColor);
    z-index: 1;
  }
  #stats-1687 .cs-graphic {
    /* 131px - 233px */
    width: clamp(8.1875rem, 16vw, 14.5625rem);
    /* 131px - 233px */
    height: clamp(8.1875rem, 16vw, 14.5625rem);
    position: absolute;
    /* -49px - -37px */
    right: clamp(-3.0625rem, -4vw, -2.3125rem);
    /* -8px - -40px */
    bottom: calc(clamp(0.5rem, 3vw, 2.5rem) * -1);
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1687 .cs-container {
    max-width: 120rem;
  }
  #stats-1687 .cs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 2.5rem;
  }
  #stats-1687 .cs-content {
    padding: 4rem 0;
    align-self: center;
  }
  #stats-1687 .cs-picture {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #stats-1687 .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}