@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

section{
  padding:3rem 9%;
}

.heading{
  text-align:center;
  margin-bottom:2rem;

  span{
    color:#fef6db;
    font-size:2rem;
  }

  h1{
    font-size:4rem;
    color:#fef6db
  }

}

.btn{
  margin-top:1rem;
  display:inline-block;
  padding:1rem 3rem;
  font-size:1.7rem;
  color:#fef6db;
  border:#111;
  cursor:pointer;
  background:none;

  &:hover{
    background:#fef6db;
    color:#fef6db;
  }
}

.header{
  position:fixed;
  top:0; left:0; right:0;
  z-index:900;
  background: #3b4131b9;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 9%;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right:20px ;

    .navbar{
      position:relative;
      width: 524px;
      height: 50px;
      top:99%; left:0; right:0;
      background: #222;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .navbar a{
    position: relative;
    font-size: 1.7rem;
    font-weight: 500;
    color:#fef6db;
    display:inline-block;
    margin:0 1rem;
    padding: 0, 23px;
    z-index: 1;
    &:hover{
      color:#fcad02;
    }
    .navbar span{
      position: absolute;
      top: 0;
      left: 0;
      width: 95px;
      height: 100%;
      background: linear-gradient(45deg,#127e41, #fcad02 ) ;
      border-radius: 8px;
      transition: .5s;
    }
    .navbar a:nth-child(1):hover~span{
      left:0;
    }
    .navbar a:nth-child(2):hover~span{
      left:95px;
    }
    .navbar a:nth-child(3):hover~span{
      left:189px;
      width: 110px
    }
    .navbar a:nth-child(4):hover~span{
      left:289px;
      width: 115px
    }
    .navbar a:nth-child(5):hover~span{
      left:413px;
      width: 110px
    }
  }

  .btn{
    margin-top:0;
  }
  }


.logo{
  font-size: 2.5rem;
  color:#fff;
  font-weight:bolder;

  i{
    color:#fef6db;
    padding-right: .5rem;
  }

}

#menu-btn{
  font-size:2.5rem;
  color:#fff;
  cursor:pointer;
  display:none;
}

.dropbutton {
  background-color:transparent;
  color: none;
  padding: 10px;
  margin-left: 20px;
  margin:0 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
    font-weight: 500;
    color:#fef6db;
}

.btn {
  display: inline-block;
  background: #fcad02;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #f0d08a;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fef6db;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #fcad02;}





/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2c2c2c;}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #fcad02;}


.header__container {
  padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to right,
      rgba(44, 56, 85, 0.9),
      rgba(100, 125, 187, 0.1)
    ),
    url("header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.header__content {
  max-width: 600px;
  padding: 5rem 2rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.header__content p {
  color: var(--extra-light);
}

.booking__container {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.booking__container .input__group {
  width: 100%;
  position: relative;
}

.booking__container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
  pointer-events: none;
  transition: 0.3s;
}

.booking__container input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

.booking__container input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.booking__container .form__group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}

.booking__container .btn {
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.booking__container .btn:hover {
  background-color: var(--primary-color-dark);
}

.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.popular__content {
  padding: 1rem;
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}



@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .header__container {
    padding-bottom: 25rem;
  }

  .booking__container {
    flex-direction: column;
    bottom: -25rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

}